body {                   font-family:verdana,arial,sans-serif;
                         font-size:14px;
                         color:#c7c4bb;
                         background-color:#000000;
                         padding-left:2%;
                         padding-right:2%;
						 height:100%;
						 margin:0px;
}
p {                      line-height:147%;
}
select {                 background-color:#343434;
                         color:#ffffff;
                         width:200px;
}
tr {                     height:22px;
}
td {                     border:1px solid #000000;
                         padding:0px;
                         vertical-align:middle;
}
textarea {               background-color:#343434;
                         color:#ffffff;
                         resize:none;
                         overflow:auto;
}
input {                  font-family:verdana,arial,sans-serif;
                         font-size:14px;
                         background-color:#343434;
                         color:#ffffff;
}
button {                 background-color:#343434;
                         color:#ffffff;
}
button:hover {			border-style:inset;

}
img {                    border:0px solid #ff0000;
                        -webkit-user-select: none; /* Safari, Chrome */
                        -khtml-user-select: none; /* Konqueror */
                        -moz-user-select: none; /* Firefox */
                        -ms-user-select: none; /* IE */
                        user-select: none; /* CSS3 */
						vertical-align:bottom;
}
a {                      outline:none;
}
a:link {                 color:#c7c4bb;
                         text-decoration:underline;
}
a:visited {              color:#c7c4bb;
                         text-decoration:underline;
}
a:active {               color:#ffcc00;
                         text-decoration:underline;
}
a:focus {                color:#ffcc00;
                         text-decoration:underline;
}
a:hover {                color:#ffcc00;
                         text-decoration:underline;
}
.noborder {              border:0px solid #000000;
                         text-align:right;
}
.overlay {				pointer-events:none;
						position:absolute;
						draggable:false;
}
.scanBlock {				border:1px solid rgb(102, 0, 255);
}
.shieldBlock {			border:1px solid rgb(0, 255, 153);
}
.bothBlock{				border:1px solid rgb(255, 153, 51);
}
.field {                 border:1px solid #333333;
}
.fieldActive {           border:1px solid #666666;
}
.grey {                  color:#343434;
}
.versionNumber {         font-size:18px;
}
.inlinepic {             vertical-align:middle;
}
.mapLayer {				 position:absolute;
						 top:0px;
						 left:0px;
						 border:#c7c4bb 2px solid;
						 margin:5px;
}
#nav {                   text-align:center;
}
#planner {               cursor:wait;
                         max-width:1400px;
                         width:expression(document.body.clientWidth > 1400? "1400px": "auto" ); /* that's supposed to do it for the Noob-Explorer */
}
#overlayContainer {		visibility:hidden;
						position:absolute;
						top:0px;
						left:0px;
						width:100%;
						height:100%;
						text-align:center;
						z-index:1000;
						background-image:url("./stuff/transparentBG.png");
}
#overlayBox {			width:300px;
						margin:200px auto;
						padding:15px;
						background-color:#000000;
						border:1px solid #c7c4bb;
						text-align:center;
}